# Data preparation for Anomaly detection using Facebook Prophet:

### Goal of the script
Here, we provide scripts to:
* Concatenate csv files and divide the full dataset in device-specific dataset or directly load the full dataset.
* Generate dataframes and plots
    * for specific devices, parameters, days and time.
    * for specific devices, parameters, from day and start_time for a specific duration.
* Generate specific dataframes:
    * Day and night-specific dataframes indicating the time they go to bed to the time they wake up.
    * Save device-specific dataframe for processing in the notebook Caru_Prophet.ipynb.

### Structure of the script
1. Load the full dataset:
    - either by making a full df out of the individual csv files provided.
    - or by loading the full dataframe that was previously saved.
2. Each script to generate dataframes described above can be run independently.

### Run the script
1. First load the full dataset as df_raw.
2. Use any of the script to generate dataframes described above.

> Questions:
> Contact Guillaume Azarias at guillaume.azarias@hotmail.com

In [1]:
import pandas as pd
import numpy as np
import time
import re
import seaborn as sns
sns.set()
import matplotlib.pyplot as plt
from matplotlib.dates import DateFormatter

import pytz, datetime
from datetime import datetime

from functions import csv_and_plot_saving, loop_graph, plot_scatter_flex, day_night_csv, df_dev_generator

## Test if the full dataset of raw data (df_raw) is not in memory

In [2]:
try:
    df_raw.head()
except:
    print('The full dataset of raw data (df_raw) is not in memory.\nYou need to reload the individual or full dataset.')

The full dataset of raw data (df_raw) is not in memory.
You need to reload the individual or full dataset.

## Load the data

### Making a full df out of the 20200331_propulsionlab_caru_data

In [ ]:
print('Starting loading the files. It may take more than 7min in total.')
start_time = time.time()
part1 = pd.read_csv('../data/raw/Copy of '
                    '20200331_propulsionlab_caru_data_part1.csv', 
                    delimiter=',')
part2 = pd.read_csv('../data/raw/Copy of '
                    '20200331_propulsionlab_caru_data_part2.csv', 
                    delimiter=',')
part3 = pd.read_csv('../data/raw/Copy of '
                    '20200331_propulsionlab_caru_data_part3.csv', 
                    delimiter=',')
part4 = pd.read_csv('../data/raw/Copy of '
                    '20200331_propulsionlab_caru_data_part4.csv', 
                    delimiter=',')
part5 = pd.read_csv('../data/raw/Copy of '
                    '20200331_propulsionlab_caru_data_part5.csv', 
                    delimiter=',')
end_time = time.time()

print('Data loaded in '+ str(int(end_time - start_time)) + " seconds.\n Concatenating the files.")

start_time_conc = time.time()
df_raw = pd.concat([part1, part2, part3, part4, part5], ignore_index= True)
end_time = time.time()
print('Concatenation done in '+ str(int(end_time - start_time_conc)) + " seconds.\n Writing down as a csv.")

start_time_writ = time.time()
df_raw.to_csv('full_df_20200331.csv')
end_time = time.time()
print('full_df_20200331.csv written in '+ str(int(end_time - start_time_writ)) + " seconds.")
print('The data loaded and csv generation took '+ str(int(end_time - start_time)) + " seconds in total.")

# TODO: Make a list and loop the list
df_raw.head(-10)

### Direct loading the full dataframe out of the 20200331_propulsionlab_caru_data

In [3]:
start_time = time.time()

print('Starting loading...\n\n Typical loading of full_df_20200331.csv takes 90sec.')
df_raw = pd.read_csv('../data/interim/full_df_20200331.csv', delimiter=',')
end_time = time.time()

print('full_df_20200331.csv loaded in df_raw in '+ str(int(end_time - start_time)) + " seconds.\n Below are the first lines")
df_raw.head()

Starting loading...

 Typical loading of full_df_20200331.csv takes 90sec.
full_df_20200331.csv loaded in df_raw in 109 seconds.
 Below are the first lines

,Unnamed: 0,device,tenant,ts_date,light,temperature,humidity,co2
0,0,device01,tenant01,2019-05-01 12:00:17.591,119.0,21.108163,30.977341,683.169922
1,1,device01,tenant01,2019-05-01 12:00:37.639,117.0,21.108163,31.088730,684.252136
2,2,device01,tenant01,2019-05-01 12:00:57.686,118.0,21.121515,30.978867,685.897095
3,3,device01,tenant01,2019-05-01 12:01:17.743,121.0,21.134866,31.009384,686.268188
4,4,device01,tenant01,2019-05-01 12:01:37.790,120.0,21.150888,31.052109,687.742371

## Check that there is one tenant per device

In [6]:
df_raw['tenant'].unique()

array(['tenant01', 'tenant07', 'tenant04', 'tenant05', 'tenant03',
       'tenant06', 'tenant02', 'tenant08', 'tenant09', 'tenant11',
       'tenant10', 'tenant12'], dtype=object)

In [7]:
df_tenant_perdevice = pd.DataFrame(df_raw.groupby(['device', 'tenant'])['device'].nunique())
df_tenant_perdevice

                   device
device   tenant
device01 tenant01       1
device02 tenant01       1
device03 tenant01       1
device04 tenant01       1
device05 tenant01       1
device06 tenant01       1
device07 tenant01       1
device08 tenant01       1
device09 tenant01       1
device10 tenant01       1
device11 tenant01       1
device12 tenant01       1
device13 tenant01       1
device14 tenant01       1
device15 tenant01       1
device16 tenant01       1
device17 tenant01       1
device18 tenant01       1
device19 tenant01       1
device20 tenant01       1
device21 tenant01       1
device22 tenant02       1
device23 tenant03       1
device24 tenant04       1
device25 tenant04       1
device26 tenant05       1
device27 tenant04       1
device28 tenant06       1
device29 tenant07       1
device30 tenant07       1
device31 tenant08       1
device32 tenant08       1
device33 tenant09       1
device34 tenant09       1
device35 tenant10       1
device36 tenant10       1
device37 tenant11       1
device38 tenant11       1
device39 tenant12       1
device40 tenant08       1
device41 tenant01       1
device42 tenant08       1
device43 tenant08       1
device44 tenant08       1
device45 tenant08       1
device46 tenant08       1
device47 tenant08       1
device48 tenant08       1
device49 tenant08       1
device50 tenant08       1
device51 tenant08       1

In [8]:
df_device_pertenant = pd.DataFrame(df_raw.groupby(['tenant', 'device'])['device'].nunique())
df_device_pertenant

                   device
tenant   device
tenant01 device01       1
         device02       1
         device03       1
         device04       1
         device05       1
         device06       1
         device07       1
         device08       1
         device09       1
         device10       1
         device11       1
         device12       1
         device13       1
         device14       1
         device15       1
         device16       1
         device17       1
         device18       1
         device19       1
         device20       1
         device21       1
         device41       1
tenant02 device22       1
tenant03 device23       1
tenant04 device24       1
         device25       1
         device27       1
tenant05 device26       1
tenant06 device28       1
tenant07 device29       1
         device30       1
tenant08 device31       1
         device32       1
         device40       1
         device42       1
         device43       1
         device44       1
         device45       1
         device46       1
         device47       1
         device48       1
         device49       1
         device50       1
         device51       1
tenant09 device33       1
         device34       1
tenant10 device35       1
         device36       1
tenant11 device37       1
         device38       1
tenant12 device39       1

## Plot data

### 1 - Generating dataframes and plots for specific devices, parameters, days and time
Generates dataframes and plots for specific devices, parameters, days and time
    
Args:
- df_full: pandas dataframe. dataframe containing the data of the device, col, days, hour of interest
- device_list: list of devices indicated as string.
- parameters: list of parameters indicated as string
- days_instances: list of days instance indicated as string
- hour: String. Hour formatted as 'HH:MM'
        
Return:
- Save a csv file containing the data for all the parameters, for the specific devices, days and hours
- Save plots of the data specific parameters, devices, days and hours

In [ ]:
# Generating graph starting from 14:00

device_list = ['device01']

parameters = ['light', 'temperature', 'humidity', 'co2']

days_instances = ['2019-05-01', '2019-05-02', '2019-05-03', '2019-05-04', '2019-05-05',
                  '2019-05-06', '2019-05-07', '2019-05-08', '2019-05-09', '2019-05-10',
                  '2019-05-11', '2019-05-12']

hour = '14:00'

csv_and_plot_saving(df_raw, device_list, parameters, days_instances, hour)

### 2 - Generating plots per device and parameter, from day and hour with a specific duration formatted in hours.
You set the device and parameters, day and hour when it starts and how long is the df.
The df will collect the data:
- starting from the day (str) and hour (hh:mm) indicated
- finishing after the indicated duration (int, hours)

Args:
- df_full: pandas dataframe. dataframe containing the data of the device, col, days, hour of interest
- device: List of devices indicated as string. Each instance will be looped within plot_scatter_dh_flex(df_small, device, col, days, hour)
- col: List of parameters indicated as string. Each instance will be  looped within plot_scatter_dh_flex(df_small, device, col, days, hour)
- days: List of days formatted as yyyy-mm-dd indicated as string. Each instance will be looped within plot_scatter_flex(df_small, name, col)
- start_time: String of hh:00. Time of the begin of the dataframe.
- duration: Integer. Duration in hours of the df.

Return:
- Save a csv file containing the data for all the parameters, for the specific devices, days and hours
- Save plots of the data specific parameters, devices, days and hours

In [216]:
# Launching the loop_graph_per_day_hour_flex

device_list = ['device01']

parameters = ['light', 'temperature', 'humidity', 'co2']

days_instances = ['2019-05-01', '2019-05-02', '2019-05-03', '2019-05-04', '2019-05-05',
                  '2019-05-06', '2019-05-07', '2019-05-08', '2019-05-09', '2019-05-10',
                  '2019-05-11', '2019-05-12']

loop_graph(df_raw, device_list, parameters, days_instances, '16:00', 16)

device01
2019-05-01
2019-05-02
2019-05-03
2019-05-04
2019-05-05
2019-05-06
2019-05-07
2019-05-08
2019-05-09
2019-05-10
2019-05-11
2019-05-12
Looping completed in 25 seconds.

In [4]:
device_list = ['device33']

parameters = ['light', 'temperature', 'humidity', 'co2']

days_instances = ['2019-03-26', '2019-03-27', '2019-03-28', '2019-03-29', '2019-03-30',
                  '2019-03-31', '2019-04-01', '2019-04-02']

loop_graph(df_raw, device_list, parameters, days_instances, '16:00', 72)

device33
2019-03-26

NameError: name 'timedelta' is not defined

## Generate dataframes

### 1 - Day- and night-specific dataframe as csv
This function generates dataframes for all parameters from the time they go to bed to the time they wake up.
This function was for exploration but not further use in the analysis.
    
Parameters:
- device: String indicating the device.
- day_night_dataframe: Pandas dataframe containing the columns
          day_gotobed(%Y-%m-%d), time_gotobed(%H:%M),
          day_wakeup(%Y-%m-%d), time_wakeup(%H:%M)
          
Return:
- save one csv for of the data of night
- save one csv for of the data of day

In [266]:
# Device01, from 2019 05 02 to the 2019 05 12

device = 'device01'
day_night_data = [['2019-05-01', '20:00', '2019-05-02', '7:00'],
 ['2019-05-02', '20:00', '2019-05-03', '6:30'],
 ['2019-05-03', '20:30', '2019-05-04', '9:00'],
 ['2019-05-04', '19:00', '2019-05-05', '6:00'],
 ['2019-05-05', '19:00', '2019-05-06', '8:30'],
 ['2019-05-06', '19:00', '2019-05-07', '6:00'],
 ['2019-05-07', '20:00', '2019-05-08', '8:30'],
 ['2019-05-08', '18:00', '2019-05-09', '7:00'],
 ['2019-05-09', '18:00', '2019-05-10', '6:30'],
 ['2019-05-10', '18:00', '2019-05-11', '6:30'],
 ['2019-05-11', '18:00', '2019-05-12', '6:00'],
 ['2019-05-12', '18:00', '2019-05-13', '5:00']]

day_night_df = pd.DataFrame(day_night_data, columns = ['day_gotobed', 'time_gotobed',
                                                        'day_wakeup', 'time_wakeup'])
day_night_df.head(12)

   day_gotobed time_gotobed  day_wakeup time_wakeup
0   2019-05-01        20:00  2019-05-02        7:00
1   2019-05-02        20:00  2019-05-03        6:30
2   2019-05-03        20:30  2019-05-04        9:00
3   2019-05-04        19:00  2019-05-05        6:00
4   2019-05-05        19:00  2019-05-06        8:30
5   2019-05-06        19:00  2019-05-07        6:00
6   2019-05-07        20:00  2019-05-08        8:30
7   2019-05-08        18:00  2019-05-09        7:00
8   2019-05-09        18:00  2019-05-10        6:30
9   2019-05-10        18:00  2019-05-11        6:30
10  2019-05-11        18:00  2019-05-12        6:00
11  2019-05-12        18:00  2019-05-13        5:00

In [ ]:
day_night_csv(device, day_night_df)

### 2 - Device-specific dataframe
This function is to save device-specific dataframe for processing in the notebook Caru_Prophet.ipynb.

Args:
- device: List of devices indicated as string. Each instance will be looped within plot_scatter_dh_flex(df_small, device, col, days, hour)

Does not return any variable. The dataframes are saved as a csv.

In [44]:
device_list = df_raw['device'].unique()
device_list

array(['device01', 'device03', 'device04', 'device05', 'device06',
       'device07', 'device08', 'device09', 'device02', 'device21',
       'device10', 'device11', 'device12', 'device13', 'device14',
       'device15', 'device16', 'device17', 'device18', 'device19',
       'device29', 'device27', 'device26', 'device41', 'device23',
       'device28', 'device25', 'device24', 'device20', 'device22',
       'device30', 'device32', 'device44', 'device31', 'device46',
       'device47', 'device48', 'device49', 'device50', 'device51',
       'device33', 'device37', 'device35', 'device38', 'device39',
       'device40', 'device42', 'device43', 'device34', 'device45',
       'device36'], dtype=object)

In [46]:
df_dev_generator(device_list)

device01
Processed and saved in 13sec.
device03
Processed and saved in 14sec.
device04
Processed and saved in 24sec.
device05
Processed and saved in 16sec.
device06
Processed and saved in 4sec.
device07
Processed and saved in 4sec.
device08
Processed and saved in 15sec.
device09
Processed and saved in 14sec.
device02
Processed and saved in 12sec.
device21
Processed and saved in 14sec.
device10
Processed and saved in 14sec.
device11
Processed and saved in 15sec.
device12
Processed and saved in 15sec.
device13
Processed and saved in 13sec.
device14
Processed and saved in 17sec.
device15
Processed and saved in 3sec.
device16
Processed and saved in 9sec.
device17
Processed and saved in 14sec.
device18
Processed and saved in 18sec.
device19
Processed and saved in 17sec.
device29
Processed and saved in 4sec.
device27
Processed and saved in 5sec.
device26
Processed and saved in 9sec.
device41
Processed and saved in 5sec.
device23
Processed and saved in 20sec.
device28
Processed and saved in 19sec.
device25
Processed and saved in 10sec.
device24
Processed and saved in 10sec.
device20
Processed and saved in 3sec.
device22
Processed and saved in 7sec.
device30
Processed and saved in 9sec.
device32
Processed and saved in 6sec.
device44
Processed and saved in 13sec.
device31
Processed and saved in 5sec.
device46
Processed and saved in 14sec.
device47
Processed and saved in 10sec.
device48
Processed and saved in 10sec.
device49
Processed and saved in 10sec.
device50
Processed and saved in 11sec.
device51
Processed and saved in 11sec.
device33
Processed and saved in 5sec.
device37
Processed and saved in 10sec.
device35
Processed and saved in 4sec.
device38
Processed and saved in 10sec.
device39
Processed and saved in 6sec.
device40
Processed and saved in 9sec.
device42
Processed and saved in 11sec.
device43
Processed and saved in 12sec.
device34
Processed and saved in 9sec.
device45
Processed and saved in 11sec.
device36
Processed and saved in 4sec.
Looping completed in 567 seconds.