# This is a script to load the data, save the time-specific df and graph

## Test if df is still in memory

In [1]:
df.head()

NameError: name 'df' is not defined

## Loading the relevant library

In [3]:
import pandas as pd
import numpy as np
import time
import re
import seaborn as sns
sns.set()
import matplotlib.pyplot as plt
from matplotlib.dates import DateFormatter

import pytz, datetime

## Loading the relevant data

### Making a full df out of the 20200331_propulsionlab_caru_data

# TODO:
#     Add a progression bar. Check:
#         from tqdm import tqdm
#         for i in tqdm(range(1000000)):
#             pass
#     Make a list and loop the list

print('Starting loading the files. It may take more than 7min in total.')
start_time = time.time()
part1 = pd.read_csv('../Data/Copy of '
                    '20200331_propulsionlab_caru_data_part1.csv', 
                    delimiter=',')
part2 = pd.read_csv('../Data/Copy of '
                    '20200331_propulsionlab_caru_data_part2.csv', 
                    delimiter=',')
part3 = pd.read_csv('../Data/Copy of '
                    '20200331_propulsionlab_caru_data_part3.csv', 
                    delimiter=',')
part4 = pd.read_csv('../Data/Copy of '
                    '20200331_propulsionlab_caru_data_part4.csv', 
                    delimiter=',')
part5 = pd.read_csv('../Data/Copy of '
                    '20200331_propulsionlab_caru_data_part5.csv', 
                    delimiter=',')
end_time = time.time()

print('Data loaded in '+ str(int(end_time - start_time)) + " seconds.\n Concatenating the files.")

start_time_conc = time.time()
df_raw = pd.concat([part1, part2, part3, part4, part5], ignore_index= True)
end_time = time.time()
print('Concatenation done in '+ str(int(end_time - start_time_conc)) + " seconds.\n Writing down as a csv.")

start_time_writ = time.time()
df_raw.to_csv('full_df_20200331.csv')
end_time = time.time()
print('full_df_20200331.csv written in '+ str(int(end_time - start_time_writ)) + " seconds.")
print('The data loaded and csv generation took '+ str(int(end_time - start_time)) + " seconds in total.")

df_raw.columns

df_raw_copy= df_raw.copy()
df_raw_copy.head(2)

df_raw = df_raw_copy.copy()
df_raw.head(2)

### Load data from the Amazon S3 bucket:

[Link to the caru bucket on Amazon](https://s3.console.aws.amazon.com/s3/buckets/carudata/?region=eu-north-1&tab=overview) *(credentials required)*

In [14]:
import boto3, os
import s3fs
s3 = boto3.client('s3') # aws client object

In [15]:
path = 's3://carudata/interim/device01_2019-05-03.csv'
path_dummy_2 = 's3://carudata/interim/device01_2019-05-03.csv'

In [16]:
dummy_df = pd.read_csv(path)
dummy_df = pd.read_csv(path_dummy_2)

In [17]:
dummy_df.head()

,Unnamed: 0,device,tenant,day,hour,min,ts_date,light,temperature,humidity,co2
0,6461,device01,tenant01,2019-05-03,0,0,2019-05-03 00:00:12.090,16.0,23.215051,28.422981,778.619080
1,6462,device01,tenant01,2019-05-03,0,0,2019-05-03 00:00:32.151,16.0,23.201700,28.436714,777.738525
2,6463,device01,tenant01,2019-05-03,0,0,2019-05-03 00:00:52.199,16.0,23.201700,28.479439,777.892456
3,6464,device01,tenant01,2019-05-03,0,1,2019-05-03 00:01:12.251,16.0,23.231073,28.482491,777.921204
4,6465,device01,tenant01,2019-05-03,0,1,2019-05-03 00:01:32.294,16.0,23.215051,28.438240,777.389648

### Direct loading the full df out of the 20200331_propulsionlab_caru_data

In [4]:
start_time = time.time()

print('Starting loading...\n\n Typical loading of full_df_20200331.csv takes 90sec.')
df_raw = pd.read_csv('../Data/full_df_20200331.csv', delimiter=',')
end_time = time.time()

print('full_df_20200331.csv loaded in df_raw in '+ str(int(end_time - start_time)) + " seconds.\n Below are the first lines")
df_raw.head()

Starting loading...

 Typical loading of full_df_20200331.csv takes 90sec.
full_df_20200331.csv loaded in df_raw in 99 seconds.
 Below are the first lines

,Unnamed: 0,device,tenant,ts_date,light,temperature,humidity,co2
0,0,device01,tenant01,2019-05-01 12:00:17.591,119.0,21.108163,30.977341,683.169922
1,1,device01,tenant01,2019-05-01 12:00:37.639,117.0,21.108163,31.088730,684.252136
2,2,device01,tenant01,2019-05-01 12:00:57.686,118.0,21.121515,30.978867,685.897095
3,3,device01,tenant01,2019-05-01 12:01:17.743,121.0,21.134866,31.009384,686.268188
4,4,device01,tenant01,2019-05-01 12:01:37.790,120.0,21.150888,31.052109,687.742371

### Check that there is one tenant per device

In [6]:
df_raw['tenant'].unique()

array(['tenant01', 'tenant07', 'tenant04', 'tenant05', 'tenant03',
       'tenant06', 'tenant02', 'tenant08', 'tenant09', 'tenant11',
       'tenant10', 'tenant12'], dtype=object)

In [7]:
df_tenant_perdevice = pd.DataFrame(df_raw.groupby(['device', 'tenant'])['device'].nunique())
df_tenant_perdevice

                   device
device   tenant
device01 tenant01       1
device02 tenant01       1
device03 tenant01       1
device04 tenant01       1
device05 tenant01       1
device06 tenant01       1
device07 tenant01       1
device08 tenant01       1
device09 tenant01       1
device10 tenant01       1
device11 tenant01       1
device12 tenant01       1
device13 tenant01       1
device14 tenant01       1
device15 tenant01       1
device16 tenant01       1
device17 tenant01       1
device18 tenant01       1
device19 tenant01       1
device20 tenant01       1
device21 tenant01       1
device22 tenant02       1
device23 tenant03       1
device24 tenant04       1
device25 tenant04       1
device26 tenant05       1
device27 tenant04       1
device28 tenant06       1
device29 tenant07       1
device30 tenant07       1
device31 tenant08       1
device32 tenant08       1
device33 tenant09       1
device34 tenant09       1
device35 tenant10       1
device36 tenant10       1
device37 tenant11       1
device38 tenant11       1
device39 tenant12       1
device40 tenant08       1
device41 tenant01       1
device42 tenant08       1
device43 tenant08       1
device44 tenant08       1
device45 tenant08       1
device46 tenant08       1
device47 tenant08       1
device48 tenant08       1
device49 tenant08       1
device50 tenant08       1
device51 tenant08       1

In [8]:
df_device_pertenant = pd.DataFrame(df_raw.groupby(['tenant', 'device'])['device'].nunique())
df_device_pertenant

                   device
tenant   device
tenant01 device01       1
         device02       1
         device03       1
         device04       1
         device05       1
         device06       1
         device07       1
         device08       1
         device09       1
         device10       1
         device11       1
         device12       1
         device13       1
         device14       1
         device15       1
         device16       1
         device17       1
         device18       1
         device19       1
         device20       1
         device21       1
         device41       1
tenant02 device22       1
tenant03 device23       1
tenant04 device24       1
         device25       1
         device27       1
tenant05 device26       1
tenant06 device28       1
tenant07 device29       1
         device30       1
tenant08 device31       1
         device32       1
         device40       1
         device42       1
         device43       1
         device44       1
         device45       1
         device46       1
         device47       1
         device48       1
         device49       1
         device50       1
         device51       1
tenant09 device33       1
         device34       1
tenant10 device35       1
         device36       1
tenant11 device37       1
         device38       1
tenant12 device39       1

## Data plotting

# device_list = ['device02', 'device05', 'device08', 'device11', 'device14', 'device17',
#                'device20', 'device23', 'device26', 'device29', 'device32', 'device35',
#                'device38', 'device41', 'device44', 'device47', 'device50']

# parameters = ['light', 'temperature', 'humidity', 'co2']

# days_instances = ['2019-12-04', '2019-12-05', '2019-12-06', '2019-12-07', '2019-12-08',
#                   '2019-12-09', '2019-12-10']
# days_instances = ['2019-06-04', '2019-06-05', '2019-06-06', '2019-06-07', '2019-06-08',
#                   '2019-06-09', '2019-06-10']
# days_instances = ['2019-07-29', '2019-07-30', '2019-07-31', '2019-08-01', '2019-08-02',
#                   '2019-08-03', '2019-08-04']

### 1 - Generating a df per device, day (midnight to midnight) and parameter. Looping plot_scatter_flex

# This plotting function works !

def plot_scatter_flex(df_small, device, col, days, hour):
    name = str(device) + '_'+ str(col) + '_' + str(days) + '_h' + str(hour)

    fig, ax = plt.subplots(1,1, figsize=(7, 5));
    ax.scatter('ts_date', col, data = df_small, s = 2); 
#     ax.plot(df_small.index.time,df_small[col]); # for scatter uncomment prev line
    last = df_small.shape[0] - 1
    ax.set_xlim(left = df_small.iloc[0, 5], right = df_small.iloc[last, 5]) # 5 for ts_date
    ax.tick_params(axis = 'x', labelrotation=45)
    ax.set_title(name);
    ax.set_ylabel(col)

    folder = '/Users/guillaume/Documents/DS2020/Caru/caru/figures/'
    filename = folder + name
    plt.savefig(filename, bbox_inches = "tight")
    plt.close()

#some ideas on ticks
# ticklabels = df_small.index.strftime("%H:%M:%S")
# ticklabels

# Single instance trial
plot_scatter_flex(device, col, days, hour)

print('Starting')
# df = df_features.copy()
print('df_uploaded')

for device in device_list:
    print(device)
    df_dev = df.loc[df['device'] == device]
    for days in days_instances:
        date =  pd.to_datetime(days)
        df_small = df_dev[df_dev['day'] == date]
        
        folder = '/Users/guillaume/Documents/DS2020/Caru/caru/data/'
        file_name = folder + str(device) + '_' + str(days) + '.csv'
        df_small.to_csv(file_name)
        
        if df_small.shape[0]>0:
#             print('Found data')
            for col in parameters:
                plot_scatter_flex(device, col, days)

print('Looping completed')

In [122]:
# From Juhyun:
# df_trial = df_device1[(df_device1['day'] >= '2019-05-01') & (df_device1['day'] <= '2019-06-12')]

device_list = ['device01']

parameters = ['light', 'temperature', 'humidity', 'co2']

days_instances = ['2019-05-01', '2019-05-02', '2019-05-03', '2019-05-04', '2019-05-05',
                  '2019-05-06', '2019-05-07', '2019-05-08', '2019-05-09', '2019-05-10',
                  '2019-05-11', '2019-05-12']

### 2 - Generating a df per device, day (from hour to the same hour) and parameter. Looping plot_scatter_flex

# print('Starting')
# df = df_features.copy()
# print('df_uploaded')

def loop_graph_per_day_flex(device, col, days, hour):
    """
    This function is generating a df per device, day (from hour to hour) and parameter
    You set the device and parameters, day and hour when it starts.
    The df will collect the data:
        - starting from the day and hour indicated
        - finishing the next day at the hour indicated
        
    Example: if days = '2019-05-12' and hour = 14, the df will collect the data:
        - starting from the 2019-05-12 at 14:00
        - finishing on the 2019-05-13 at 14:59
    """
    start_time = time.time()
    
    for device in device_list:
        print(device)
        df_dev = df.loc[df['device'] == device]
        for days in days_instances:
            date =  pd.to_datetime(days)
            date_d1 = pd.to_datetime(days)
            date_d2 = date + timedelta(days = 1)

            df_small_d1 = df_dev[df_dev['day'] == date_d1]
            df_small_d1 = df_small_d1[df_small_d1['hour'] >= hour]
            df_small_d2 = df_dev[df_dev['day'] == date_d2]
            df_small_d2 = df_small_d2[df_small_d2['hour'] <= hour]

            df_small = pd.concat([df_small_d1, df_small_d2], ignore_index= True)

            folder = '/Users/guillaume/Documents/DS2020/Caru/caru/data/'
            file_name = folder + str(device) + '_' + str(days) + '_h' + str(hour) + '.csv'
            df_small.to_csv(file_name)

            if df_small.shape[0]>0:
    #             print('Found data')
                for col in parameters:
                    plot_scatter_flex(df_small, device, col, days, hour)

    end_time = time.time()
    print('Looping completed')
    print(end_time - start_time)

# Generating graph starting from 14:00

hour = 14

loop_graph_per_day_flex(device, col, days, hour)

### 3 - Generating a df per device and parameter, from day and hour with a specific duration formatted in hours.
#### Looping loop_graph

In [217]:
# print('Starting')
# # df = df_features.copy()
# print('df_uploaded')
###############################################################################


def plot_scatter_flex(df_small, name, col):
    """
    This function is generating a png plot from df_small, for a specific parameter col and
    save it name.
    
    Parameters (from loop_graph_per_day_hour_flex):
        - df_small: dataframe. df per device, from day and start_time for a specific duration.
        - name: String. indicates the device, day, starting time and duration.
        - col: String. Specific parameter of the graph.
    """
    name = str(col) + '_' + name
    fig, ax = plt.subplots(1,1, figsize=(5, 5));
    ax.scatter('ts_date', col, data = df_small, s = 2, color='black')
#     ax.plot(df_small.index.time,df_small[col]); # for scatter uncomment prev line
    last = df_small.shape[0] - 1
    ax.set_xlim(left = df_small.iloc[0, 2], right = df_small.iloc[last, 2]) # 2 for ts_date
    ax.tick_params(axis = 'x', labelrotation=45)
    
    myFmt = DateFormatter("%H:%M")
    ax.xaxis.set_major_formatter(myFmt)
    
    ax.set_title(name)
    ax.set_ylabel(col)
    # Note: if the graph is empty but df_small is normal, verify ax.set_xlim is associated with ts_date

    folder = '/Users/guillaume/Documents/DS2020/Caru/caru/figures/'
    filename = folder + name + '.png'
    plt.savefig(filename, bbox_inches = "tight")
    plt.close()
    
    
def loop_graph(device, col, days, start_time, duration):
    """
    This function is generating a df per device, from day and start_time for a
    specific duration.
    You set the device and parameters, day and hour when it starts and how long 
    is the df.
    The df will collect the data:
        - starting from the day (str) and hour (hh:mm) indicated
        - finishing after the indicated duration (int, hours)
        
    Example: if days = '2019-05-12', start_time = 18:00 and duration = 11, the df
    will collect the data:
        - starting from the 2019-05-12 at 18:00
        - finishing on the 2019-05-13 at 5:00 (to check)
        
    Parameters:
        - device: List of devices indicated as string. Each instance will be 
        looped within plot_scatter_dh_flex(df_small, device, col, days, hour)
        - col: List of parameters indicated as string. Each instance will be 
        looped within plot_scatter_dh_flex(df_small, device, col, days, hour)
        - days: List of days formatted as yyyy-mm-dd indicated as string. Each 
        instance will be looped within plot_scatter_dh_flex(df_small, device, 
        col, days, hour)
        - start_time: String of hh:00. Time of the begin of the df.
        - duration: Integer. Duration in hours of the df.
    """
    chrono_start = time.time()
    
    for device in device_list:
        # df_dev is the device-specific dataframe
        print(device)
        df_dev = df.loc[df['device'] == device]
        
        # df_small is the device-specific, time-specific dataframe
        for days in days_instances:
            hour_dt = datetime.strptime(start_time,'%H:%M').time()
            print(days)
            date_dt = datetime.strptime(days,'%Y-%m-%d')
            date_d1 = datetime.combine(date_dt, hour_dt)
            date_d2 = date_d1 + timedelta(hours = duration)
            
            df_small = df_dev[(df_dev['ts_date'] >= date_d1) & (df_dev['ts_date'] <= date_d2)]
            
            # If there was data acquired at this time, Save the df_small as csv and run plot_scatter_flex
            if df_small.shape[0]>0:
#                 print('Found data')
                
                folder = '/Users/guillaume/Documents/DS2020/Caru/caru/data/'
                hour_formatted = re.sub(':', 'h', str(start_hour))
                name = str(device) + '_' + str(days) + '_from_' + str(hour_formatted) + '_dur' + str(duration) + 'h'
                file_name = folder + name + '.csv'
#                 df_small.to_csv(file_name)
                
                for col in parameters:
                    plot_scatter_flex(df_small, name, col)
                    
    chrono_end = time.time()
    print('Looping completed in '+ str(int(chrono_end - chrono_start)) + ' seconds.')

# Single instance trial

device_list = ['device01']
parameters = ['light', 'temperature', 'humidity', 'co2']
days_instances = ['2019-05-12'] # Must be a list of values formatted yyyy-mm-dd
start_hour = '18:00'
duration = 10

In [218]:
# From Juhyun:
# df_trial = df_device1[(df_device1['day'] >= '2019-05-01') & (df_device1['day'] <= '2019-06-12')]

device_list = ['device01']

parameters = ['light', 'temperature', 'humidity', 'co2']

days_instances = ['2019-05-01', '2019-05-02', '2019-05-03', '2019-05-04', '2019-05-05',
                  '2019-05-06', '2019-05-07', '2019-05-08', '2019-05-09', '2019-05-10',
                  '2019-05-11', '2019-05-12']

In [216]:
# Launching the loop_graph_per_day_hour_flex

loop_graph(device_list, parameters, days_instances, '16:00', 16)

device01
2019-05-01
2019-05-02
2019-05-03
2019-05-04
2019-05-05
2019-05-06
2019-05-07
2019-05-08
2019-05-09
2019-05-10
2019-05-11
2019-05-12
Looping completed in 25 seconds.

## 4 - Save day- and night-specific dataframe as csv

In [250]:
def day_night_csv(device, day_night_dataframe):
    """
    This function generates the df_night and df_day dataframe for all parameters
    from the time they go to bed to the time they wake up.
    This function was for exploration but not further use in the analysis.
    
    Use a day_night_df formatted as above.
    
    Parameters:
        - device: String indicating the device.
        - day_night_dataframe: Pandas dataframe containing the columns
          day_gotobed(%Y-%m-%d), time_gotobed(%H:%M),
          day_wakeup(%Y-%m-%d), time_wakeup(%H:%M)
          
    Return:
        - save one csv for of the data of night
        - save one csv for of the data of day
    """
    chrono_start = time.time()
    
    # df_dev is the device-specific dataframe
    df_dev = df.loc[df['device'] == device]

    # df_night and df_day are device-specific, time-specific dataframe
    for row in range(day_night_df.shape[0]):
        # Go to bed
        date_dt = datetime.strptime(day_night_df.iloc[row, 0],'%Y-%m-%d')
        hour_dt = datetime.strptime(day_night_df.iloc[row, 1],'%H:%M').time()
        date_d1 = datetime.combine(date_dt, hour_dt)

        # Wake up
        date_dt = datetime.strptime(day_night_df.iloc[row, 2],'%Y-%m-%d')
        hour_dt = datetime.strptime(day_night_df.iloc[row, 3],'%H:%M').time()
        date_d2 = datetime.combine(date_dt, hour_dt)

        # Go to bed the next day
        if row < day_night_df.shape[0]-1:
            date_dt = datetime.strptime(day_night_df.iloc[row+1, 0],'%Y-%m-%d')
            hour_dt = datetime.strptime(day_night_df.iloc[row+1, 1],'%H:%M').time()
            date_d3 = datetime.combine(date_dt, hour_dt)

        # Extract the day and night df
        df_night = df_dev[(df_dev['ts_date'] >= date_d1) & (df_dev['ts_date'] <= date_d2)]

        if row < day_night_df.shape[0]-1:
            df_day = df_dev[(df_dev['ts_date'] >= date_d2) & (df_dev['ts_date'] <= date_d3)]

        # Save the df 
        folder = '/Users/guillaume/Documents/DS2020/Caru/caru/data/'

        if df_night.shape[0]>0:
            hour_formatted = re.sub(':', 'h', str(day_night_df.iloc[row, 1]))
            name = str(device) + '_Night_' + str(day_night_df.iloc[row, 0]) + '_from_' + hour_formatted
            file_name = folder + name + '.csv'
            df_night.to_csv(file_name)

        if df_day.shape[0]>0:
            hour_formatted = re.sub(':', 'h', str(day_night_df.iloc[row, 3]))
            name = str(device) + '_Day_' + str(day_night_df.iloc[row, 2]) + '_from_' + hour_formatted
            file_name = folder + name + '.csv'
            df_day.to_csv(file_name)
    
    chrono_end = time.time()
    print('csv generation completed in '+ str(int(chrono_end - chrono_start)) + ' seconds.')

In [266]:
# Device01, from 2019 05 02 to the 2019 05 12

device = 'device01'
day_night_data = [['2019-05-01', '20:00', '2019-05-02', '7:00'],
 ['2019-05-02', '20:00', '2019-05-03', '6:30'],
 ['2019-05-03', '20:30', '2019-05-04', '9:00'],
 ['2019-05-04', '19:00', '2019-05-05', '6:00'],
 ['2019-05-05', '19:00', '2019-05-06', '8:30'],
 ['2019-05-06', '19:00', '2019-05-07', '6:00'],
 ['2019-05-07', '20:00', '2019-05-08', '8:30'],
 ['2019-05-08', '18:00', '2019-05-09', '7:00'],
 ['2019-05-09', '18:00', '2019-05-10', '6:30'],
 ['2019-05-10', '18:00', '2019-05-11', '6:30'],
 ['2019-05-11', '18:00', '2019-05-12', '6:00'],
 ['2019-05-12', '18:00', '2019-05-13', '5:00']]

day_night_df = pd.DataFrame(day_night_data, columns = ['day_gotobed', 'time_gotobed',
                                                        'day_wakeup', 'time_wakeup'])
day_night_df.head(12)

   day_gotobed time_gotobed  day_wakeup time_wakeup
0   2019-05-01        20:00  2019-05-02        7:00
1   2019-05-02        20:00  2019-05-03        6:30
2   2019-05-03        20:30  2019-05-04        9:00
3   2019-05-04        19:00  2019-05-05        6:00
4   2019-05-05        19:00  2019-05-06        8:30
5   2019-05-06        19:00  2019-05-07        6:00
6   2019-05-07        20:00  2019-05-08        8:30
7   2019-05-08        18:00  2019-05-09        7:00
8   2019-05-09        18:00  2019-05-10        6:30
9   2019-05-10        18:00  2019-05-11        6:30
10  2019-05-11        18:00  2019-05-12        6:00
11  2019-05-12        18:00  2019-05-13        5:00

In [267]:
# Save day- and night-specific dataframe as csv

day_night_csv(device, day_night_df)

Clicking function
# Use it: https://matplotlib.org/api/_as_gen/matplotlib.pyplot.ginput.html

csv generation completed in 3 seconds.

## 5 - Save device-specific dataframe as csv

In [41]:
device_list=['device01']

In [44]:
device_list = df_raw['device'].unique()
device_list

array(['device01', 'device03', 'device04', 'device05', 'device06',
       'device07', 'device08', 'device09', 'device02', 'device21',
       'device10', 'device11', 'device12', 'device13', 'device14',
       'device15', 'device16', 'device17', 'device18', 'device19',
       'device29', 'device27', 'device26', 'device41', 'device23',
       'device28', 'device25', 'device24', 'device20', 'device22',
       'device30', 'device32', 'device44', 'device31', 'device46',
       'device47', 'device48', 'device49', 'device50', 'device51',
       'device33', 'device37', 'device35', 'device38', 'device39',
       'device40', 'device42', 'device43', 'device34', 'device45',
       'device36'], dtype=object)

In [45]:
def df_dev_generator(device):
    """
    This function is generating a df per device.
    You set the device list. There is no further filtering.
        
    Parameters:
        - device: List of devices indicated as string. Each instance will be 
        looped within plot_scatter_dh_flex(df_small, device, col, days, hour)
        - col: List of parameters indicated as string. Each instance will be 
        looped within plot_scatter_dh_flex(df_small, device, col, days, hour)
    """
    chrono_start = time.time()
    
    for device in device_list:
        # df_dev is the device-specific dataframe
        print(device)
        start_time = time.time()
        df_dev = df_raw.loc[df_raw['device'] == device]
        
        if df_dev.shape[0]>0:
            df_dev = df_dev.drop(['Unnamed: 0'],axis=1)

            folder = '/Users/guillaume/Documents/DS2020/Caru/caru/data/'
            name = str(device) + '_alldays'
            file_name = folder + name + '.csv'
            df_dev.to_csv(file_name)
            end_time = time.time()
            print('Processed and saved in '+ str(int(end_time - start_time)) + 'sec.')
                    
    chrono_end = time.time()
    print('Looping completed in '+ str(int(chrono_end - chrono_start)) + ' seconds.')

In [46]:
df_dev_generator(device_list)

device01
Processed and saved in 13sec.
device03
Processed and saved in 14sec.
device04
Processed and saved in 24sec.
device05
Processed and saved in 16sec.
device06
Processed and saved in 4sec.
device07
Processed and saved in 4sec.
device08
Processed and saved in 15sec.
device09
Processed and saved in 14sec.
device02
Processed and saved in 12sec.
device21
Processed and saved in 14sec.
device10
Processed and saved in 14sec.
device11
Processed and saved in 15sec.
device12
Processed and saved in 15sec.
device13
Processed and saved in 13sec.
device14
Processed and saved in 17sec.
device15
Processed and saved in 3sec.
device16
Processed and saved in 9sec.
device17
Processed and saved in 14sec.
device18
Processed and saved in 18sec.
device19
Processed and saved in 17sec.
device29
Processed and saved in 4sec.
device27
Processed and saved in 5sec.
device26
Processed and saved in 9sec.
device41
Processed and saved in 5sec.
device23
Processed and saved in 20sec.
device28
Processed and saved in 19sec.
device25
Processed and saved in 10sec.
device24
Processed and saved in 10sec.
device20
Processed and saved in 3sec.
device22
Processed and saved in 7sec.
device30
Processed and saved in 9sec.
device32
Processed and saved in 6sec.
device44
Processed and saved in 13sec.
device31
Processed and saved in 5sec.
device46
Processed and saved in 14sec.
device47
Processed and saved in 10sec.
device48
Processed and saved in 10sec.
device49
Processed and saved in 10sec.
device50
Processed and saved in 11sec.
device51
Processed and saved in 11sec.
device33
Processed and saved in 5sec.
device37
Processed and saved in 10sec.
device35
Processed and saved in 4sec.
device38
Processed and saved in 10sec.
device39
Processed and saved in 6sec.
device40
Processed and saved in 9sec.
device42
Processed and saved in 11sec.
device43
Processed and saved in 12sec.
device34
Processed and saved in 9sec.
device45
Processed and saved in 11sec.
device36
Processed and saved in 4sec.
Looping completed in 567 seconds.